@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-frcGray text-frcWhite font-sans;
}

h1,
h2,
h3,
h4 {
    @apply text-frcPurple font-bold;
}

a {
    @apply text-frcBlue hover:text-frcPurple transition-colors duration-300;
}

button {
    @apply bg-frcBlue text-frcWhite rounded px-4 py-2 font-semibold hover:bg-frcPurple transition-all;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    display: inline-block;
    animation-timing-function: linear;
}

@keyframes dynamicFade {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 0.8;
        transform: scale(1);
    }
}

.animate-dynamicFade {
    display: inline-block;
    animation-timing-function: linear;
}

.countdown {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to right, #1e3a8a, #6d28d9, #1e3a8a);
    color: white;
}

.countdown h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.countdown .time-box {
    display: inline-block;
    margin: 0 1rem;
    font-size: 2rem;
}

.countdown .time-box span {
    display: block;
    font-size: 4rem;
}